#pedis-monaco {
    height: calc(100vh - 203px);
    width: 100%
}

.semi-card-header {
    padding: 12px 20px;
}

h6.semi-typography, .semi-typography-h6.semi-typography {
    font-size: 14px;
    line-height: 14px;
}